PORT=3000
MYSQLHOST=localhost
MYSQLPORT=3306
MYSQLUSER=root
MYSQLPASSWORD=yourpassword
MYSQLDATABASE=demo_credit
JWT_SECRET=yourjwtsecret
ADJUTOR_API_KEY=youradjutorapikey
ADJUTOR_BASE_URL=https://adjutor.lendsqr.com/v2